/* BASE STYLES */

:root {
/*
 * COLOR PALETTE
 * */

/* PRIMARY */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --dark-blue: hsl(198, 62%, 26%); /* photography text */
    --dark-moderate-cyan: hsl(168, 34%, 41%); /*footer*/

/* NEUTRAL */

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

/*
 * TYPOGRAPHY
 * */

/* FONT FAMILIES */
    --font-family-barlow: "Barlow", sans serif;
    --font-family-fraunces: "Fraunces", serif;

/* FONT SIZES */
    --font-size-body: 18px;
}

body {
    margin: 0;
}

.hero {
    min-width: 375px;
    height: 538px;
    display: flex;
    flex-direction: column;
    background-image: url('./images/mobile/image-header.jpg');
    background-size: cover
}

.hero-content {
    height: 100%;
    text-align: center;
}

.hero-content h1 {
    margin: 52px 24px;
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: var(--white);
}

.nav-bar {
    margin: 32px 24px;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    border: none;
    background-color: transparent;
}

.nav-links {
    display: none;
}

.nav-menu:focus-within .hamburger {
    position: absolute;
    top: 32px;
    right: 24px;
}

.nav-menu:focus-within .nav-links {
    display: block;
    position: absolute;
    top: 82px;
    left: 22px;
    height: 329px;
    width: 329px;
}

.nav-menu:focus-within .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav-links ul li {
    font-family: var(--font-family-barlow);
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: var(--dark-grayish-blue);
}

.contact-button {
    font-family: var(--font-family-fraunces);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
    width: 140px;
    height: 56px;
    background-color: var(--yellow);
    border-radius: 28px;
    border: none;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 1024px) {

    .hamburger {
        display: none;
    }

    .nav-links {
        display: block;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 450px;
        list-style: none;

    }
}
