/* BASE STYLES */

:root {
/*
 * COLOR PALETTE
 * */

/* PRIMARY */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
    --dark-blue: hsl(198, 62%, 26%); /* photography text */
    --dark-moderate-cyan: hsl(168, 34%, 41%); /*footer*/

/* NEUTRAL */

    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);

/*
 * TYPOGRAPHY
 * */

/* FONT FAMILIES */
    --font-family-barlow: "Barlow", sans serif;
    --font-family-fraunces: "Fraunces", serif;

/* FONT SIZES */
    --font-size-body: 18px;
}

body {
    margin: 0;
}

.hero {
    min-width: 375px;
    height: 538px;
    display: flex;
    flex-direction: column;
    background-image: url('./images/mobile/image-header.jpg');
    background-size: cover
}

.hero-content {
    height: 100%;
    text-align: center;
}

.hero-content h1 {
    margin: 52px 24px;
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    color: var(--white);
}

.nav-bar {
    margin: 32px 24px;
    display: flex;
    justify-content: space-between;
}

.hamburger {
    border: none;
    background-color: transparent;
}

.nav-links {
    display: none;
}

.nav-menu:focus-within .hamburger {
    position: absolute;
    top: 32px;
    right: 24px;
}

.nav-menu:focus-within .nav-links {
    display: block;
    position: absolute;
    top: 82px;
    left: 22px;
    height: 329px;
    width: 329px;
}

.nav-menu:focus-within .nav-links ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--white);
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.nav-links ul li {
    font-family: var(--font-family-barlow);
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: var(--dark-grayish-blue);
}

.contact-button {
    font-family: var(--font-family-fraunces);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.107143px;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
    width: 140px;
    height: 56px;
    background-color: var(--yellow);
    border-radius: 28px;
    border: none;
}

/* LEARN MORE CALL TO ACTION */

.learn-more {
    min-width: 375px;
}

.learn-more-image {
    height: 312px;
    min-width: 375px;
    background-size: cover;

}

.image-transform {
    background-image: url('images/mobile/image-transform.jpg');
}

.image-stand-out {
    background-image: url('images/mobile/image-stand-out.jpg');
}

.learn-more-text {
    padding: 64px 24px;
}

.learn-more-text h1 {
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.228571px;
    color: var(--very-dark-desaturated-blue);
}


.learn-more-text p {
    font-family: var(--font-family-barlow);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: var(--dark-grayish-blue);
}

.learn-more-button {
    display: block;
    border: none;
    outline: none;
    padding: 1px 3px;
    background-color: transparent;
    width: 137px;
    height: 25px;
    margin: 0 auto;
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--very-dark-desaturated-blue);
}

.learn-more-button::after {
    display: block;
    content: '';
    position: absolute;
    width: 130px;
    height: 8px;
    margin-top: -10px;
    border-radius: 28px;
    z-index: -1;
    opacity: 0.25;
    transition: opacity 350ms ease-in-out;
}

.lmb-1::after {
    background: #fad400;
}

.lmb-2::after {
    background: #FE7766;
}

/* SERVICES SECTION */

.services-section {
    display: flex;
    flex-direction: column;
}

.services-content {
    min-width: 375px;
    height: 600px;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.services-text {
    padding: 59px 24px;
}

.services-content h2 {
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
}

.services-content p {
    margin: 3px 0px;
    font-family: var(--font-family-barlow);
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
}

.services-graphic-design h2, p{
    color: var(--dark-desaturated-cyan);
}

.services-photography h2, p {
    color: var(--dark-blue);
}

.services-graphic-design {
    background-image: url('images/mobile/image-graphic-design.jpg');
}

.services-photography {
    background-image: url('images/mobile/image-photography.jpg');
}

/* TESTIMONIALS SECTION */

.testimonials-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 24px;
}

.testimonials-section h1 {
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--grayish-blue);
}

.client-testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 64px;
}

.testimonial-copy {
    font-family: var(--font-family-barlow);
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: var(--very-dark-grayish-blue);
}

.client-image {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    background-color: gray;
    background-size: contain;
}

.image-emily {
    background-image: url('images/image-emily.jpg');
}

.image-thomas {
    background-image: url('images/image-thomas.jpg');
}

.image-jennie {
    background-image: url('images/image-jennie.jpg');
}

.client-info p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 4px 0px;
}

.client-name {
    font-family: var(--font-family-fraunces);
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: var(--very-dark-desaturated-blue);
}

.client-title{
    font-family: var(--font-family-barlow);
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1px;
    color: var(--grayish-blue);
}

/* FOOTER */

.image-footer {
    min-height:375px;
    min-width: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-footer img {
    height: 50%;
    width: 50%;
}

.footer-content {
    background-color: #90D4C6;
    display:flex;
    justify-content: center;
    height: 350px;
    min-width: 375px;
}

.footer-content-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 206px;
    width: 300px;
    padding: 64px 39px 80px;
}

.footer-logo {
    width: 170px;
    height: 33px;
    filter: brightness(0) saturate(100%) invert(35%) sepia(50%) saturate(492%) hue-rotate(118deg) brightness(96%) contrast(85%);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    width: 164px;
    height: 20px;
    padding-top: 40px;
}

@media only screen and (min-width: 1024px) {

    .hamburger {
        display: none;
    }

    .nav-links {
        display: block;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 450px;
        list-style: none;

    }
}
